@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
ol, ul, li{list-style: none;}
a{text-decoration: none; color: #000;}
*{margin: 0; padding: 0; box-sizing: border-box;}
body{ font-family: "Noto Sans KR", sans-serif;}
