$color-black: #111;
$color-dark: #333;
$color-gray: #666;
$color-lightgray: #c7c7c7;
$color-border: #e0e0e0;
$color-bg-pink: pink;
$color-white: #fbfbfb;
// 색상

$font-xs: 11px;
$font-sm: 12px;
$font-base: 14px;
$font-md: 15px;
$font-lg: 16px;
$font-xl: 18px;
$font-2xl: 24px;
$font-headline: 40px;
// 타이포

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-ml: 20px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 36px;
$spacing-3xl: 40px;
$spacing-4xl: 44px;
$spacing-5xl: 48px;
$spacing-6xl: 64px;
$spacing-7xl: 80px;
// 간격

$grid-gap-sm: 16px;
$grid-gap-md: 24px;
$grid-gap-lg: 48px;
$grid-gap-xl: 80px;
// 간격

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
//반응형